/*
This is CSS, or Cascading Styling Sheets. It is responsible for stylizing components of the website such as text and images, and most importantly making things look presentable and pleasant :D

Try changing some of the features below and see what happens! 
Descriptions are provided to help you customize your portfolio :)

When changing colors, you can use hex codes or type in simple colors like red, blue, orange, yellow.
In Visual Studio Code, you can use the in-built color picker by clicking the small squares next to the colors.
Hex code finder: https://imagecolorpicker.com/

When changing fonts, you can use any font you'd like. Just type in the name of the font and it should work.
CSS font reference: https://www.w3schools.com/cssref/css_websafe_fonts.php
*/

html {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255); 
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid; /* This is a display element that changes the layout of the website */
    /* try changing between 'grid' and 'flex' to see the difference. See which one fits your preferences. */
    justify-content: space-around;
    align-items: flex-start;

    margin: 0;
    padding: 0;
}

.text-section{ /*Section with text, highlighted with border*/
    /*The 3 CSS elements below define a red border around text-section, the section of the HTML document containing text.
    Creating borders is a good way to keep track of where your sections are, and manage size, margins, and spacing
    When finalizing changes, you can either comment the border sections out or delete them.*/
    border-style: solid;
    border-width: 2px;
    border-color: rgb(138, 65, 65);
    background-color: white;
    border-radius: 0%;
    /* Try changing the value of border-radius. (0%-100%) */

    display: grid; /*Aligns elements (text in this case) 'hamburger' style*/
    justify-content: center; /*Centers content inside text-section*/
    margin-top: 20px; /*Margin/spacing above text-section*/
}

h1{ /*Header*/
    font-family: 'Arial'; /*Changes font of header.*/
    font-size: 50px; /*Changes size of header*/
    color: black; /*Changes color of header*/
    text-align: center; /*Aligns header to center.
    text-align has 3 main choices: right, left, center*/ 
}

p{ /*Paragraph*/    
    background-color: white;
    font-family: 'Arial'; /*Changes font of paragraph element (your "default" text)*/
    font-size: 25px; /*Changes size of paragraph element*/
    color: black; /*Changes color of paragraph element*/
    text-align: center; /*Aligns text to center*/
}

.img-section{ /*Section with image and caption/single paragraph element inside section*/
    /*The 3 CSS elements below define a red border to indicate this section, purely for keeping track of spacing. You can delete or comment out these 3 when finalizing changes*/
    border-style: solid;
    border-width: 2px;
    border-color: rgb(138, 65, 65);
    background-color: white;
    border-radius: 0%;
    
    display: grid;
    /*Centers image and caption in img-section*/
    justify-items: center; 
    align-items: center;
    margin-top: 20px; 
}

img{
    /*width and height define the dimensions of the image. Try modifying the size of your image element!*/
    width: 500px;
    height: 500px;
    border-radius: 0%; /*Changes the rounding of corners in the image. 50% will change the image into a circle.*/
}


.navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(138, 65, 65);
    width: 100vw;
    height: 8vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Arial'; 
    font-weight: normal;
    color: white;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul{
    width: 10rem;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a[href]{
    width: 10rem;
    height: 8vh;
    font-size: 30px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul:not([class="navbar-title"]):hover{
    background-color: rgb(201, 118, 118);
    cursor: pointer;
}

.navbar-title{
    background-color: rgb(98, 49, 49);
    width: 20rem;
    font-weight: bolder;
}





/* Fun stuff. Don't worry about this for now */

.welcome-message {
    display: none;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome-message p {
    font-size: 50px;
    color: red; /* Example color for the paragraph */
    margin-top: 10vh;
}

.welcome-message img {
    width: 250px; /* Example width for the image */
    height: 250px;
}

#button {
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 20px 2px; 
    cursor: pointer; 
    border: none; 
    border-radius: 12px; 
    box-shadow: 0 4px #999; 
    scale: 1;

    -webkit-box-shadow:0px 0px 11px 7px rgba(222, 245, 209, 0.4);
    -moz-box-shadow: 0px 0px 11px 7px rgba(222, 245, 209, 0.4);
    box-shadow: 0px 0px 11px 7px rgba(222, 245, 209, 0.4);
    
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

#button:hover {
    
    background-color: rgb(131, 219, 135);
    scale: 1.03;
    font-weight: bold;
    font-size: 16px;

    -webkit-box-shadow:0px 0px 11px 7px rgba(202, 250, 176, 0.9);
    -moz-box-shadow: 0px 0px 11px 7px rgba(202, 250, 176, 0.9);
    box-shadow: 0px 0px 11px 7px rgba(202, 250, 176, 0.9);

    transition: 0.2s;
    transition-timing-function: ease-in-out; 
}

#button:active {
    box-shadow: 0 2px #666; 
    transform: translateY(4px); 
}

#coolthingy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.text-block{
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.hide{
    display: none;
}